USE [master]
GO
/****** Object:  Database [TP4_AlvarezMartinAndres_DB]    Script Date: 25/07/2022 15:01:02 ******/
CREATE DATABASE [TP4_AlvarezMartinAndres_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP4_AlvarezMartinAndres_DB', FILENAME = N'D:\Programación\Sql Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TP4_AlvarezMartinAndres_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP4_AlvarezMartinAndres_DB_log', FILENAME = N'D:\Programación\Sql Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TP4_AlvarezMartinAndres_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP4_AlvarezMartinAndres_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP4_AlvarezMartinAndres_DB]
GO
/****** Object:  Table [dbo].[Atencion]    Script Date: 25/07/2022 15:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Atencion](
	[idDeAtencion] [int] IDENTITY(1,1) NOT NULL,
	[idDeMedico] [int] NOT NULL,
	[idDePaciente] [int] NOT NULL,
	[motivoDeLaConsulta] [varchar](200) NOT NULL,
	[tratamiento] [varchar](200) NOT NULL,
	[diagnostico] [varchar](200) NOT NULL,
	[fechaDeLaAtencion] [datetime] NOT NULL,
 CONSTRAINT [PK_Atencion] PRIMARY KEY CLUSTERED 
(
	[idDeAtencion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medico]    Script Date: 25/07/2022 15:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medico](
	[idDeMedico] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](70) NOT NULL,
	[edad] [int] NOT NULL,
	[dni] [int] NOT NULL,
	[sexo] [varchar](50) NOT NULL,
	[matricula] [int] NOT NULL,
 CONSTRAINT [PK_Medico] PRIMARY KEY CLUSTERED 
(
	[idDeMedico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 25/07/2022 15:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente](
	[idDePaciente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](70) NOT NULL,
	[edad] [int] NOT NULL,
	[dni] [int] NOT NULL,
	[sexo] [varchar](50) NOT NULL,
	[antecedentesMedicos] [varchar](500) NOT NULL,
	[tratamientoEnCurso] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Paciente] PRIMARY KEY CLUSTERED 
(
	[idDePaciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Atencion]  WITH CHECK ADD  CONSTRAINT [FK_Atencion_Medico] FOREIGN KEY([idDeMedico])
REFERENCES [dbo].[Medico] ([idDeMedico])
GO
ALTER TABLE [dbo].[Atencion] CHECK CONSTRAINT [FK_Atencion_Medico]
GO
ALTER TABLE [dbo].[Atencion]  WITH CHECK ADD  CONSTRAINT [FK_Atencion_Paciente] FOREIGN KEY([idDePaciente])
REFERENCES [dbo].[Paciente] ([idDePaciente])
GO
ALTER TABLE [dbo].[Atencion] CHECK CONSTRAINT [FK_Atencion_Paciente]
GO
USE [master]
GO
