USE [master]
GO
/****** Object:  Database [TP4_AlvarezMartinAndres_DB]    Script Date: 08/08/2022 2:34:14 ******/
CREATE DATABASE [TP4_AlvarezMartinAndres_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP4_AlvarezMartinAndres_DB', FILENAME = N'D:\Programación\Sql Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TP4_AlvarezMartinAndres_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP4_AlvarezMartinAndres_DB_log', FILENAME = N'D:\Programación\Sql Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TP4_AlvarezMartinAndres_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP4_AlvarezMartinAndres_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP4_AlvarezMartinAndres_DB]
GO
/****** Object:  Table [dbo].[Atencion]    Script Date: 08/08/2022 2:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Atencion](
	[idDeAtencion] [int] IDENTITY(1,1) NOT NULL,
	[idDeMedico] [int] NOT NULL,
	[idDePaciente] [int] NOT NULL,
	[motivoDeLaConsulta] [varchar](200) NOT NULL,
	[tratamiento] [varchar](200) NOT NULL,
	[diagnostico] [varchar](200) NOT NULL,
	[fechaDeLaAtencion] [datetime] NOT NULL,
 CONSTRAINT [PK_Atencion] PRIMARY KEY CLUSTERED 
(
	[idDeAtencion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medico]    Script Date: 08/08/2022 2:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medico](
	[idDeMedico] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](70) NOT NULL,
	[edad] [int] NOT NULL,
	[dni] [int] NOT NULL,
	[sexo] [varchar](50) NOT NULL,
	[matricula] [int] NOT NULL,
 CONSTRAINT [PK_Medico] PRIMARY KEY CLUSTERED 
(
	[idDeMedico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 08/08/2022 2:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente](
	[idDePaciente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](70) NOT NULL,
	[edad] [int] NOT NULL,
	[dni] [int] NOT NULL,
	[sexo] [varchar](50) NOT NULL,
	[antecedentesMedicos] [varchar](500) NOT NULL,
	[tratamientoEnCurso] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Paciente] PRIMARY KEY CLUSTERED 
(
	[idDePaciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TurnoMedico]    Script Date: 08/08/2022 2:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TurnoMedico](
	[fechaTurno] [datetime] NULL,
	[idDeMedico] [int] NULL,
	[idDePaciente] [int] NULL,
	[idDeTurnoMedico] [int] IDENTITY(1,1) NOT NULL,
	[seRealizoAtencionDelTurno] [varchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Atencion] ON 

INSERT [dbo].[Atencion] ([idDeAtencion], [idDeMedico], [idDePaciente], [motivoDeLaConsulta], [tratamiento], [diagnostico], [fechaDeLaAtencion]) VALUES (1, 1, 1, N'Bulto en el abdomen', N'En observación', N'Esperando resultados de los analisis', CAST(N'2022-08-08T01:37:40.000' AS DateTime))
INSERT [dbo].[Atencion] ([idDeAtencion], [idDeMedico], [idDePaciente], [motivoDeLaConsulta], [tratamiento], [diagnostico], [fechaDeLaAtencion]) VALUES (2, 1, 1, N'Trajo los resultados del analasis', N'Medicamento xxx', N'Cancer', CAST(N'2022-08-08T01:37:40.000' AS DateTime))
INSERT [dbo].[Atencion] ([idDeAtencion], [idDeMedico], [idDePaciente], [motivoDeLaConsulta], [tratamiento], [diagnostico], [fechaDeLaAtencion]) VALUES (3, 2, 2, N'Dolor de cabeza', N'Medicamento yyy', N'Esperando resultados de los analisis', CAST(N'2022-08-08T01:37:40.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Atencion] OFF
GO
SET IDENTITY_INSERT [dbo].[Medico] ON 

INSERT [dbo].[Medico] ([idDeMedico], [nombre], [edad], [dni], [sexo], [matricula]) VALUES (1, N'Álvarez Martín Andrés', 30, 363434343, N'Hombre', 23232)
INSERT [dbo].[Medico] ([idDeMedico], [nombre], [edad], [dni], [sexo], [matricula]) VALUES (2, N'Roberto de la fuente', 34, 232323211, N'Hombre', 4242)
INSERT [dbo].[Medico] ([idDeMedico], [nombre], [edad], [dni], [sexo], [matricula]) VALUES (3, N'Julia Lopez', 35, 6666666, N'Mujer', 666656)
SET IDENTITY_INSERT [dbo].[Medico] OFF
GO
SET IDENTITY_INSERT [dbo].[Paciente] ON 

INSERT [dbo].[Paciente] ([idDePaciente], [nombre], [edad], [dni], [sexo], [antecedentesMedicos], [tratamientoEnCurso]) VALUES (1, N'Roberto juan', 22, 34345234, N'Hombre', N'AntecedentesMedico de Roberto juan', N'False')
INSERT [dbo].[Paciente] ([idDePaciente], [nombre], [edad], [dni], [sexo], [antecedentesMedicos], [tratamientoEnCurso]) VALUES (2, N'Perez juan', 11, 222222, N'Hombre', N'AntecedentesMedico de Perez juan', N'False')
INSERT [dbo].[Paciente] ([idDePaciente], [nombre], [edad], [dni], [sexo], [antecedentesMedicos], [tratamientoEnCurso]) VALUES (3, N'Hernesto juan', 33, 44444, N'Hombre', N'AntecedentesMedico de Hernesto juan', N'False')
SET IDENTITY_INSERT [dbo].[Paciente] OFF
GO
SET IDENTITY_INSERT [dbo].[TurnoMedico] ON 

INSERT [dbo].[TurnoMedico] ([fechaTurno], [idDeMedico], [idDePaciente], [idDeTurnoMedico], [seRealizoAtencionDelTurno]) VALUES (CAST(N'2022-08-08T01:47:01.000' AS DateTime), 1, 1, 1, N'False')
INSERT [dbo].[TurnoMedico] ([fechaTurno], [idDeMedico], [idDePaciente], [idDeTurnoMedico], [seRealizoAtencionDelTurno]) VALUES (CAST(N'2022-08-08T02:47:02.000' AS DateTime), 1, 1, 2, N'False')
INSERT [dbo].[TurnoMedico] ([fechaTurno], [idDeMedico], [idDePaciente], [idDeTurnoMedico], [seRealizoAtencionDelTurno]) VALUES (CAST(N'2022-08-08T03:47:03.000' AS DateTime), 2, 2, 3, N'False')
SET IDENTITY_INSERT [dbo].[TurnoMedico] OFF
GO
ALTER TABLE [dbo].[Atencion]  WITH CHECK ADD  CONSTRAINT [FK_Atencion_Medico] FOREIGN KEY([idDeMedico])
REFERENCES [dbo].[Medico] ([idDeMedico])
GO
ALTER TABLE [dbo].[Atencion] CHECK CONSTRAINT [FK_Atencion_Medico]
GO
ALTER TABLE [dbo].[Atencion]  WITH CHECK ADD  CONSTRAINT [FK_Atencion_Paciente] FOREIGN KEY([idDePaciente])
REFERENCES [dbo].[Paciente] ([idDePaciente])
GO
ALTER TABLE [dbo].[Atencion] CHECK CONSTRAINT [FK_Atencion_Paciente]
GO
ALTER TABLE [dbo].[TurnoMedico]  WITH CHECK ADD  CONSTRAINT [FK_TurnoMedico_Medico] FOREIGN KEY([idDeMedico])
REFERENCES [dbo].[Medico] ([idDeMedico])
GO
ALTER TABLE [dbo].[TurnoMedico] CHECK CONSTRAINT [FK_TurnoMedico_Medico]
GO
ALTER TABLE [dbo].[TurnoMedico]  WITH CHECK ADD  CONSTRAINT [FK_TurnoMedico_Paciente] FOREIGN KEY([idDePaciente])
REFERENCES [dbo].[Paciente] ([idDePaciente])
GO
ALTER TABLE [dbo].[TurnoMedico] CHECK CONSTRAINT [FK_TurnoMedico_Paciente]
GO
USE [master]
GO
